<form action="/create_job_from_contact" method="post">

  <input type="hidden" name="contact_id" value="<%= @contact.id %>">

  <div class="form-group">
    <label for="company">
      Company
    </label>

    <input type="text" id="company" name="company" class="form-control" value="<%= @job.company %>">
  </div>

  <div class="form-group">
    <label for="position">
      Position
    </label>

    <input type="text" id="position" name="position" class="form-control" value="<%= @job.position %>">
  </div>

  <div class="form-group">
    <label for="location">
      Location
    </label>

    <input type="text" id="location" name="location" class="form-control" value="<%= @job.location %>">
  </div>

  <div class="form-group">
    <label for="start_date">
      Start date
    </label>

    <input type="text" id="start_date" name="start_date" class="form-control" value="<%= @job.start_date %>">
  </div>

  <div class="form-group">
    <label for="end_date">
      End date
    </label>

    <input type="text" id="end_date" name="end_date" class="form-control" value="<%= @job.end_date %>">
  </div>

  <div class="form-group">
    <label for="current">
      Current
    </label>
    <input id="current" class="form-check-input" name="current" type="checkbox" <%= "checked" if @job.current %>>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create job
  </button>
</form>
