<%= search_form_for @q, :class => collapse_search_form, :id => "contacts_filters" do |f| %>
  <p class="lead">Narrow results:</p>

  <div class="form-group">
    <%= f.label :first_name_cont, "First name contains" %>
    <%= f.text_field :first_name_cont, :class => "form-control", :placeholder => "First name contains" %>
  </div>

  <div class="form-group">
    <%= f.label :network_cont, "Network contains" %>
    <%= f.text_field :network_cont, :class => "form-control", :placeholder => "Network contains" %>
  </div>

  <div class="form-group">
    <%= f.label :last_name_cont, "Last name contains" %>
    <%= f.text_field :last_name_cont, :class => "form-control", :placeholder => "Last name contains" %>
  </div>

  <div class="form-group">
    <%= f.label :interests_cont, "Interests contains" %>
    <%= f.text_field :interests_cont, :class => "form-control", :placeholder => "Interests contains" %>
  </div>

  <div class="form-group">
    <%= f.label :hometown_cont, "Hometown contains" %>
    <%= f.text_field :hometown_cont, :class => "form-control", :placeholder => "Hometown contains" %>
  </div>

  <div class="form-group">
    <%= f.label :notes_cont, "Notes contains" %>
    <%= f.text_field :notes_cont, :class => "form-control", :placeholder => "Notes contains" %>
  </div>

  <div class="form-group">
    <%= f.label :school_program_cont, "School program contains" %>
    <%= f.text_field :school_program_cont, :class => "form-control", :placeholder => "School program contains" %>
  </div>

  <div class="form-group">
    <%= f.label :phone_number_cont, "Phone number contains" %>
    <%= f.text_field :phone_number_cont, :class => "form-control", :placeholder => "Phone number contains" %>
  </div>

  <div class="form-group">
    <%= f.label :email_cont, "Email contains" %>
    <%= f.text_field :email_cont, :class => "form-control", :placeholder => "Email contains" %>
  </div>

  <div class="form-group">
    <%= f.label :created_at, "Created at" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='created_atgteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_gteq, :class => "form-control datetimepicker-input", :placeholder => "Created at greater than or equal to", :data => {:target => '#created_atgteqPicker'} %>
          <div class="input-group-append" data-target='#created_atgteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='created_atlteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_lteq, :class => "form-control datetimepicker-input", :placeholder => "Created at less than or equal to", :data => {:target => '#created_atlteqPicker'} %>
          <div class="input-group-append" data-target='#created_atlteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#created_atgteqPicker').datetimepicker({
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atlteqPicker').datetimepicker({
              useCurrent: false,
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atgteqPicker').on("dp.change", function (e) {
              $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#created_atlteqPicker').on("dp.change", function (e) {
              $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>


  <div class="form-group">
    <%= f.label :activities_title_cont, "Activity title contains" %>
    <%= f.text_field :activities_title_cont, :class => "form-control", :placeholder => "Activity title contains" %>
  </div>

  <div class="form-group">
    <%= f.label :jobs_company_cont, "Job company contains" %>
    <%= f.text_field :jobs_company_cont, :class => "form-control", :placeholder => "Job company contains" %>
  </div>

  <div class="form-group">
    <%= f.label :tasks_title_cont, "Task title contains" %>
    <%= f.text_field :tasks_title_cont, :class => "form-control", :placeholder => "Task title contains" %>
  </div>

  <div class="form-group">
    <%= f.label :user_username_cont, "User username contains" %>
    <%= f.text_field :user_username_cont, :class => "form-control", :placeholder => "User username contains" %>
  </div>


  <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

  <a href="/contacts" class="btn btn-outline-secondary btn-block mb-1">Clear filters</a>

<% end %>

<a class="btn btn-outline-secondary btn-block mb-1" data-toggle="collapse" href="#contacts_filters">
  Show filters
</a>
