<form action="/create_task_from_contact" method="post">

  <div class="form-group">
    <label for="due_date">
      Due date
    </label>

    <input type="text" id="due_date" name="due_date" class="form-control" value="<%= @task.due_date %>">
  </div>

  <div class="form-group">
    <label for="title">
      Title
    </label>

    <input type="text" id="title" name="title" class="form-control" value="<%= @task.title %>">
  </div>

  <div class="form-group">
    <label for="notes">
      Notes
    </label>

    <input type="text" id="notes" name="notes" class="form-control" value="<%= @task.notes %>">
  </div>

  <div class="form-group">
    <label for="tag">
      Tag
    </label>

    <input type="text" id="tag" name="tag" class="form-control" value="<%= @task.tag %>">
  </div>

  <div class="form-group">
    <label for="status">
      Status
    </label>

    <input type="text" id="status" name="status" class="form-control" value="<%= @task.status %>">
  </div>

  <input type="hidden" name="contact_id" value="<%= @contact.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create task
  </button>
</form>
