<% if @contact.errors.any? %>
  <% @contact.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit contact #<%= @contact.id %>
</h1>

<hr>

<form action="/update_contact/<%= @contact.id %>" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @contact.name %>">
  </div>

  <div class="form-group">
    <label for="email">
      Email
    </label>

    <input type="text" id="email" name="email" class="form-control" value="<%= @contact.email %>">
  </div>

  <div class="form-group">
    <label for="phone_number">
      Phone number
    </label>

    <input type="text" id="phone_number" name="phone_number" class="form-control" value="<%= @contact.phone_number %>">
  </div>

  <div class="form-group">
    <label for="network">
      Network
    </label>

    <input type="text" id="network" name="network" class="form-control" value="<%= @contact.network %>">
  </div>

  <div class="form-group">
    <label for="company">
      Company
    </label>

    <input type="text" id="company" name="company" class="form-control" value="<%= @contact.company %>">
  </div>

  <div class="form-group">
    <label for="title">
      Title
    </label>

    <input type="text" id="title" name="title" class="form-control" value="<%= @contact.title %>">
  </div>

  <div class="form-group">
    <label for="work_location">
      Work location
    </label>

    <input type="text" id="work_location" name="work_location" class="form-control" value="<%= @contact.work_location %>">
  </div>

  <div class="form-group">
    <label for="school_program">
      School program
    </label>

    <input type="text" id="school_program" name="school_program" class="form-control" value="<%= @contact.school_program %>">
  </div>

  <div class="form-group">
    <label for="school_section">
      School section
    </label>

    <input type="text" id="school_section" name="school_section" class="form-control" value="<%= @contact.school_section %>">
  </div>

  <div class="form-group">
    <label for="school_kwest">
      School kwest
    </label>

    <input type="text" id="school_kwest" name="school_kwest" class="form-control" value="<%= @contact.school_kwest %>">
  </div>

  <div class="form-group">
    <label for="first_met">
      First met
    </label>

    <input type="text" id="first_met" name="first_met" class="form-control" value="<%= @contact.first_met %>">
  </div>

  <div class="form-group">
    <label for="remarks">
      Remarks
    </label>

    <input type="text" id="remarks" name="remarks" class="form-control" value="<%= @contact.remarks %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update contact
  </button>
</form>

<hr>

<a href="/contacts">
  Go back
</a>
