<h1>
  Edit contact #<%= @contact.id %>
</h1>

<hr>

<!-- Form contact start -->
<form action="/update_contact/<%= @contact.id %>" method="post">
<!-- Form contact end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <!-- Input for name start -->
    <input type="text" id="name" name="name" class="form-control" value="<%= @contact.name %>">
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <!-- Label and input for email start -->
  <div class="form-group">
    <label for="email">
      Email
    </label>

    <!-- Input for email start -->
    <input type="text" id="email" name="email" class="form-control" value="<%= @contact.email %>">
    <!-- Input for email end -->
  </div>
  <!-- Label and input for email end -->

  <!-- Label and input for phone_number start -->
  <div class="form-group">
    <label for="phone_number">
      Phone number
    </label>

    <!-- Input for phone_number start -->
    <input type="text" id="phone_number" name="phone_number" class="form-control" value="<%= @contact.phone_number %>">
    <!-- Input for phone_number end -->
  </div>
  <!-- Label and input for phone_number end -->

  <!-- Label and input for network start -->
  <div class="form-group">
    <label for="network">
      Network
    </label>

    <!-- Input for network start -->
    <input type="text" id="network" name="network" class="form-control" value="<%= @contact.network %>">
    <!-- Input for network end -->
  </div>
  <!-- Label and input for network end -->

  <!-- Label and input for company start -->
  <div class="form-group">
    <label for="company">
      Company
    </label>

    <!-- Input for company start -->
    <input type="text" id="company" name="company" class="form-control" value="<%= @contact.company %>">
    <!-- Input for company end -->
  </div>
  <!-- Label and input for company end -->

  <!-- Label and input for title start -->
  <div class="form-group">
    <label for="title">
      Title
    </label>

    <!-- Input for title start -->
    <input type="text" id="title" name="title" class="form-control" value="<%= @contact.title %>">
    <!-- Input for title end -->
  </div>
  <!-- Label and input for title end -->

  <!-- Label and input for work_location start -->
  <div class="form-group">
    <label for="work_location">
      Work location
    </label>

    <!-- Input for work_location start -->
    <input type="text" id="work_location" name="work_location" class="form-control" value="<%= @contact.work_location %>">
    <!-- Input for work_location end -->
  </div>
  <!-- Label and input for work_location end -->

  <!-- Label and input for school_program start -->
  <div class="form-group">
    <label for="school_program">
      School program
    </label>

    <!-- Input for school_program start -->
    <input type="text" id="school_program" name="school_program" class="form-control" value="<%= @contact.school_program %>">
    <!-- Input for school_program end -->
  </div>
  <!-- Label and input for school_program end -->

  <!-- Label and input for school_section start -->
  <div class="form-group">
    <label for="school_section">
      School section
    </label>

    <!-- Input for school_section start -->
    <input type="text" id="school_section" name="school_section" class="form-control" value="<%= @contact.school_section %>">
    <!-- Input for school_section end -->
  </div>
  <!-- Label and input for school_section end -->

  <!-- Label and input for school_kwest start -->
  <div class="form-group">
    <label for="school_kwest">
      School kwest
    </label>

    <!-- Input for school_kwest start -->
    <input type="text" id="school_kwest" name="school_kwest" class="form-control" value="<%= @contact.school_kwest %>">
    <!-- Input for school_kwest end -->
  </div>
  <!-- Label and input for school_kwest end -->

  <!-- Label and input for first_met start -->
  <div class="form-group">
    <label for="first_met">
      First met
    </label>

    <!-- Input for first_met start -->
    <input type="text" id="first_met" name="first_met" class="form-control" value="<%= @contact.first_met %>">
    <!-- Input for first_met end -->
  </div>
  <!-- Label and input for first_met end -->

  <!-- Label and input for remarks start -->
  <div class="form-group">
    <label for="remarks">
      Remarks
    </label>

    <!-- Input for remarks start -->
    <input type="text" id="remarks" name="remarks" class="form-control" value="<%= @contact.remarks %>">
    <!-- Input for remarks end -->
  </div>
  <!-- Label and input for remarks end -->

  <button class="btn btn-block btn-outline-secondary">
    Update contact
  </button>
</form>

<hr>

<a href="/contacts">
  Go back
</a>
