<% if @contact.errors.any? %>
  <% @contact.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit contact #<%= @contact.id %>
</h1>

<hr>

<form action="/update_contact/<%= @contact.id %>" method="post">

  <div class="form-group">
    <label for="first_name">
      First name
    </label>

    <input type="text" id="first_name" name="first_name" class="form-control" value="<%= @contact.first_name %>">
  </div>

  <div class="form-group">
    <label for="email">
      Email
    </label>

    <input type="text" id="email" name="email" class="form-control" value="<%= @contact.email %>">
  </div>

  <div class="form-group">
    <label for="phone_number">
      Phone number
    </label>

    <input type="text" id="phone_number" name="phone_number" class="form-control" value="<%= @contact.phone_number %>">
  </div>

  <div class="form-group">
    <label for="school_program">
      School program
    </label>

    <input type="text" id="school_program" name="school_program" class="form-control" value="<%= @contact.school_program %>">
  </div>

  <div class="form-group">
    <label for="notes">
      Notes
    </label>

    <input type="text" id="notes" name="notes" class="form-control" value="<%= @contact.notes %>">
  </div>


  <div class="form-group">
    <label for="hometown">
      Hometown
    </label>

    <input type="text" id="hometown" name="hometown" class="form-control" value="<%= @contact.hometown %>">
  </div>

  <div class="form-group">
    <label for="interests">
      Interests
    </label>

    <input type="text" id="interests" name="interests" class="form-control" value="<%= @contact.interests %>">
  </div>

  <div class="form-group">
    <label for="last_name">
      Last name
    </label>

    <input type="text" id="last_name" name="last_name" class="form-control" value="<%= @contact.last_name %>">
  </div>

  <div class="form-group">
    <label for="network">
      Network
    </label>

    <input type="text" id="network" name="network" class="form-control" value="<%= @contact.network %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update contact
  </button>
</form>

<hr>

<a href="/contacts">
  Go back
</a>
